body{background-color: rgb(173, 174, 176);} 
  
  h1{color:red;
    text-align: left;
} .jina{color: blue;text-align: center;}
.container{ display: flex;
align-items:center;}
.suit {
    width: 400px;
    height: 300px;
    display: inline-block;
    align-items: center;}

    .container p{max-width: 600px;
    text-align: unset;
flex: auto;
margin: 0%;}

.french {width: 400px; 
height: 300px;
float:right;
} 

table tr td {border: 4px;background-color: brown;
    justify-content: center;
align-items: center;}

.second tr td { border: 3px; solid border-left: unset;
    background-color: rgb(21, 229, 132);
       border-collapse: collapse; width: 80px;
    margin: auto;}

 a{
    display: inline-block;
    text-align: center;
    font-size:large;
  }

  .button {float:right;width: 60px;height: 20px;display: flex;
} 

video{width: 50%; height: 400px;align-items: center;
}

.Group{margin:0%;align-items: center;display: inline-block;
gap: 0%;} 


  h2 {font-size:large;
text-align: center;
color: aqua; }

.logo {width: 200px; 
height: 200px;
align-items: center; justify-content: center;
margin-left:auto;display: flex;
margin-right: auto;} 

.login{align-items: center;}

input[type=text], input[type=password] ,input[type=number]{ 
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.submitbtn {height: auto;font-size: x-large; 
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
text-align: center;}
.submitbtn:hover{
  background-color: yellow;
  font-size: 18px;} 
    
    .cancelbtn {
        width: auto;
        padding: 10px 18px;
        background-color: #f44336;
        text-align: center;
      }

      span.psw {
        float: right;
        padding-top: 10px;
      }

      iframe{ height="300px" width="100%";}